/* 아래에 CSS를 작성해주세요. */

.title {
    text-align: center;
}
.subtext {
    display: block;
    font-size: 16px;
}
.item-list {
    margin: auto;
    width: 900px;
}
.item {
    margin: 1rem;
    width: 300px;
    display: inline-block;
}
.item-img {
    border-radius: 5%;
    width: 100%;
    text-align: left;
}
.item-subtitle {
    color: rgb(132, 128, 128);
    font-weight: bold;
}
.item-title {
    font-size: 100%;
    font-weight: bold;
}
.item-content {
    font-size: 85%;
}